html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a,a:hover{
    text-decoration: none;
}

/***************************************
              Modal
***************************************/
#ServiceDetailsModal .modal-body .accept-req-modal button{
    background-color: green;
    color: #FFFFFF;
    border-radius: 17px;
    height: 35px;
    border: none;
    width: 100px;
}

#ServiceDetailsUpcomingModal .modal-body .action-upcoming-modal button{
    border-radius: 17px;
    height: 35px;
    color: #FFFFFF;
    border: none;
}

#ServiceDetailsUpcomingModal .modal-body .action-upcoming-modal .cancel-upcoming{
    width: 80px;
    background-color: #fa5151;
}

#ServiceDetailsUpcomingModal .modal-body .action-upcoming-modal .complete-upcoming{
    width: 120px;
    background-color: #1D7A8C;
}
/***************************************
              HEADER
***************************************/
header{
    height: 80px;
}

#navbar{
    background-color: #525252 !important;

}

#navbar .nav-logo img{
    width: 73px;
    height: 54px;
}

#navbar .navbar-nav li button,.navbar .navbar-nav li a{
    font-size: 17px;
} 

.navbar-expand-xl .navbar-nav .prices-nav{
    padding: 0 41px 0 0 !important;
}

#navbar .blog-nav{
    margin: 0 20px;
}

#navbar .contact-nav{
    margin-right: 30px;
}

#navbar .notify-nav{
    position: relative;
    width: 71px;
    border-left:1px solid #E1E1E1;
    border-right:1px solid #E1E1E1;
    text-align: center;
    position: relative;
}

#navbar .notify-nav::after{
    content: '2';
    position: absolute;
    top: 0px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 13px;
}

#navbar .notify-out{
    display: none;
}

#navbar .profile-nav{
    padding-left: 18px;
}

#navbar .profile-nav .nav-link{
    padding-left: 0 !important;
}

#navbar.active{
    opacity: 90%;
}

/***************************************
             Welcome-Tab
***************************************/
.welcome-tab{
    height: 120px;
    line-height: 120px;
    background-color: #F9F9F9;
    margin-bottom: 31px;
}

.welcome-tab .greet{
    font-size: 30px;
}

/***************************************
          Sidebar & Content
***************************************/
.wrapper{
    display: flex;
    flex-direction: row;
}

aside{
    display: flex;
    width: 262px;
    background-color: #1D7A8C;
    flex-direction: column;
}

aside .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    font-size: 18px !important;
    height: 55px;
    line-height: 55px;
    color: white;
    padding: 0 0 0 15px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

aside .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    color: white;
    background-color: #1a626e ;
}

aside .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #1a626e;
    color: white;
    border: none;
}

.wrapper{
    justify-content: center;
    margin-bottom: 30px;
}

.table-content{
    padding-left: 31px;
    width: 100%;
    max-width: 847px;
}

.table-content table{
    border: 1px solid #E1E1E1;
    font-size: 16px;
}

.table-content table.dataTable{
    border-collapse: collapse !important;
}

.table-content table thead{
    background-color: #F9F9F9;
}

.table-content table thead{
    height: 49px;
    vertical-align: middle;
    color: #646464;
}

table.dataTable>thead .sorting:before, 
table.dataTable>thead .sorting:after, 
table.dataTable>thead .sorting_asc:before, 
table.dataTable>thead .sorting_asc:after, 
table.dataTable>thead .sorting_desc:before, 
table.dataTable>thead .sorting_desc:after, 
table.dataTable>thead .sorting_asc_disabled:before, 
table.dataTable>thead .sorting_asc_disabled:after, 
table.dataTable>thead .sorting_desc_disabled:before, 
table.dataTable>thead .sorting_desc_disabled:after{
bottom: 13.5px !important;
}

.table-content table tbody tr{
    height: 71px;
}

.table-content table tbody tr td:nth-child(1),
.table-content table tbody tr td:nth-child(4){
    vertical-align: middle;
}

.table-content table tbody tr td:nth-child(4){
    text-align: center;
}

.table-content .cancel-btn button{
    font-size: 16px;
    color: #ffffff;
    background-color: #FF6B6B;
    border: none;
    width: 80px;
    height: 34px;
    border-radius: 17px;
}

.table-content .cancel-btn button:hover{
    background-color: #fa5151;
    color: White;
}

.table-content .page-link{
    color: #1D7A8C;
}

.table-content .page-item.active .page-link{
    background-color: #1D7A8C;
    color: white;
    border-color: #1D7A8C;
}

/***************************************
              FOOTER
***************************************/
.page-footer .footer-container{
    min-height: 131px;
}

.page-footer .footer-content{
    margin: 0 123px 0 115px;
}

.page-footer .footer-logo img{
    width: 120px;
    height: 92px;
    margin-top:20px ;
}

.page-footer .f-link{
    color: #F1F1F1;
    font-size: 14px;
}

.page-footer .footer-content .footer-social .social-fb{
    width: 9px;
    height: 18px;
    margin-right: 20px;
}

.page-footer .footer-content .footer-social .social-ig{
    width: 20px;
    height: 20px;
}

.page-footer .container:first-of-type{
    background-color: #111111;
}

.page-footer .footer-copyright{
    background-color: #292929;
    font-size: 14px;
}

.page-footer .footer-copyright-txt{
    color: #9BA0A3;
}

.page-footer .footer-copyright-txt a{
    color: #9BA0A3;
}

/* -----Side-Navbar----- */
.modal.right .modal-dialog {
	position:fixed;
	right: 0;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ------MODAL-STYLE------ */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-content .modal-body div a,
.modal-content .modal-body div{
    color: #808080;
}

.modal-content .modal-body a.active{
    color: #1D7A8C;
}

@media screen and (max-width:1199px) {
    /* -----Header----- */
    #navbar .blog-nav{
        margin: 10px 0;
    }
    
    #navbar .contact-nav{
        margin-right: 0;
        margin-bottom: 10px;
    }

    #navbar .notify-out{
        display: block;
    }

    /* -----Sidebar-&-Content----- */
    aside{
        display: none !important;
    }

    /* -----Footer----- */
    .page-footer .footer-content{
        margin: 0;
    }
}

@media screen and (max-width:1024px) {
    /* -----Sidebar-&-Content----- */
    .table-content{
        padding: 0 20px;
    }

    .table-content table{
        border: none;
    }

    .table-content table thead{
        display: none;
    }

    .table-content table tbody > tr{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: 300px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .table-content table tbody tr td:nth-child(4){
        text-align: left;
    }


    /* ----Footer------ */
    .page-footer .footer-content{
        flex-direction: column;
    }

    .page-footer .footer-content{
        padding: 30px 0;
    }
}

@media  screen and (max-width:425px) {
    /* -----Welcome-Tab----- */
    .welcome-tab{
        height: 90px;
        line-height: 90px;
    }

    .welcome-tab .greet{
        font-size: 24px;
    }
    
    /* -----Sidebar-&-Content----- */
    .table-content table{
        font-size: 12px;
    }

    .table-content table tbody > tr{
        min-height: 285px;
    }

    .table-content .cancel-btn button{
        font-size: 12px;
        height: 28px;
        width: 60px;
    }
}